@charset "UTF-8";
/*//////////////////////////////*/
/*        COLOR MANAGER         */
/*//////////////////////////////*/
:root {
  font-family: sans-serif;
  --backgroundColor: #f2f2f2;
  --compBgColor: #faf8f5;
  --textColor: #121212;
  --tabTxtColor: #121212;
  --primary: #20cfcf;
  --primary-light: #a7f1f1; }

html[dark] {
  --backgroundColor: #121212;
  --compBgColor: rgba(250, 248, 245, 0.07);
  --textColor: #faf8f5;
  --tabTxtColor: #121212; }

/*//////////////////////////////*/
/*         STYLE RESET          */
/*//////////////////////////////*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*héritage par rapport à body*/ }

html {
  font-size: 62.5%;
  /*1 rem égal à 10px maintenant 62.5% = 10px/16px*/
  overflow-x: hidden; }

body {
  box-sizing: border-box;
  background-color: var(--backgroundColor);
  color: var(--textColor); }

/*//////////////////////////////*/
/*         STYLE GLOBAL         */
/*//////////////////////////////*/
.tabComp {
  background-color: var(--compBgColor);
  width: 70vw;
  margin: 0 auto;
  margin-top: 5rem; }
  .tabComp__tab-container {
    border-bottom: 2px solid var(--primary); }

.tabComp__tab {
  border: none;
  background-color: var(--compBgColor);
  font-size: 1.6rem;
  padding: 1.5rem;
  cursor: pointer;
  color: inherit; }
  .tabComp__tab--active {
    background-color: var(--primary);
    color: var(--tabTxtColor); }
  .tabComp__tab:hover {
    background-color: var(--primary-light);
    color: var(--tabTxtColor); }
  .tabComp__tab:active {
    background-color: var(--primary);
    color: var(--tabTxtColor); }

.tabComp__content {
  font-size: 1.6rem;
  line-height: 2.24rem;
  display: none;
  padding: 5rem; }
  .tabComp__content--title {
    padding-bottom: 2rem; }
  .tabComp__content--active {
    display: block; }

.btn-theme {
  display: block;
  margin: 5rem auto;
  border: none;
  background-color: transparent; }
