/*//////////////////////////////*/
/*        COLOR MANAGER         */
/*//////////////////////////////*/

$white: hsl(45, 29%, 97%);
$black: hsl(0, 0%, 7%);
$light-gray: hsl(0, 0%, 95%);
$primary: hsl(180, 73%, 47%);
$primary-light:hsl(180, 73%, 80%);

:root {
  font-family: sans-serif;
  --backgroundColor: #{$light-gray};
  --compBgColor: #{$white};
  --textColor: #{$black};
  --tabTxtColor: #{$black};
  --primary: #{$primary};
  --primary-light: #{$primary-light};
}

html[dark]{
  --backgroundColor: #{$black};
  --compBgColor: #{rgba($white, 0.07)};
  --textColor: #{$white};
  --tabTxtColor: #{$black};
}

/*//////////////////////////////*/
/*         STYLE RESET          */
/*//////////////////////////////*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /*héritage par rapport à body*/
}

html {
  //Définition de l'équivalent d'1 REM
  font-size: 62.5%; /*1 rem égal à 10px maintenant 62.5% = 10px/16px*/
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  background-color: var(--backgroundColor);
  color : var(--textColor);
}

/*//////////////////////////////*/
/*         STYLE GLOBAL         */
/*//////////////////////////////*/
.tabComp { 
  background-color: var(--compBgColor);
  width: 70vw;
  margin: 0 auto;
  margin-top: 5rem;

  &__tab-container {
    border-bottom: 2px solid var(--primary);
  }
}

.tabComp__tab {
  border: none;
  background-color: var(--compBgColor);
  font-size: 1.6rem;
  padding: 1.5rem;
  cursor: pointer;
  color: inherit;

  &--active {
    background-color: var(--primary);
    color: var(--tabTxtColor);
  }

  &:hover{
    background-color: var(--primary-light);
    color: var(--tabTxtColor);
  }

  &:active {
    background-color: var(--primary);
    color: var(--tabTxtColor);
  }
}

.tabComp__content {
  font-size: 1.6rem;
  line-height: 2.24rem;
  display: none;
  padding: 5rem;

  &--title {
    padding-bottom: 2rem;
  }

  &--active {
    display: block;
  }
}


/*//////////////////////////////*/
/*         THEME BUTTON         */
/*//////////////////////////////*/
.btn-theme{
  display: block;
  margin: 5rem auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
}